<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Sistema Solar em Three.js</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inder&family=Inika:wght@400;700&family=Jacques+Francois+Shadow&family=Jersey+25&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap');
  </style>
</head>

<body>
  <div id="modal1" class="displaynone">

  </div>

  <div id="divvoltar" class="displaynone"> <svg id="setavoltar" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" width="6" height="6" viewBox="0 0 17 17">
      <g>
      </g>
      <path d="M16 8.972h-12.793l6.146 6.146-0.707 0.707-7.353-7.353 7.354-7.354 0.707 0.707-6.147 6.147h12.793v1z"
        fill="#fffff" />
    </svg></div>
  <div id="sobremim" class="displaynone">
    <div class="titulo">
      <h2>Sobre Mim</h2>
    </div>
    <div id="orgsobremim">
      <div id="txtsobremim">Sou estudante do Colégio Cotemig, apaixonado por tecnologia e desafios. Tenho interesse em desenvolvimento web, utilizando HTML, CSS, JavaScript e ferramentas como Bootstrap e Three.js.
Sou curioso, analítico e gosto de aprender sempre. Valorizo trabalho em equipe, empatia, comunicação clara e resolução de problemas.
Busco crescer como desenvolvedor, unindo criatividade, lógica e inovação em cada projeto.
      </div>
      <div id="divimg"></div>
    </div>
  </div>
  <div id="hardskils" class="displaynone">
    <div class="titulo">
      <h2>Habilidades</h2>
    </div>
    <div id="orghardskils" class="displaynone">
      <div class="divconst">
        <img src="img/hardskils/c.png" alt="">
        <p>C#</p>
      </div>
      <div class="divconst">
        <img src="img/hardskils/html5.png" alt="">
        <p>HTML5</p>
      </div>
      <div class="divconst">
        <img src="img/hardskils/css3.png" alt="">
        <p>CSS3</p>
      </div>
      <div class="divconst">
        <img src="img/hardskils/js.png" alt="">
        <p>JAVASCRIPT</p>
      </div>
      <div class="divconst">
        <img src="img/hardskils/python2.png" alt="">
        <p>PYTHON</p>
      </div>
      <div class="divconst">
        <img src="img/hardskils/Mysql.png" alt="">
        <p>MYSQL</p>
      </div>

    </div>
  </div>

  <div id="Projetos" class="displaynone">
    <div class="titulo">
      <h2>Projetos</h2>
    </div>
    <div id="imgprojetos" onclick="irParaPagina()" class="GIFU"></div>
    <div id="orgprojeto">
      <div onclick="GIFU()" class="btnprojeto"></div>
      <div onclick="BELARA()" class="btnprojeto"></div>
      <div onclick="BITMAP()" class="btnprojeto"></div>
      <div onclick="TULEN()" class="btnprojeto"></div>
      <div onclick="MASCARAS()" class="btnprojeto"></div>
    </div>
  </div>

  <div id="Contato" class="displaynone">
    <div class="titulo">
      <h2>Contato</h2>
    </div>
    <div id="orgContato1">
      <div class="divContato"><img src="img/Contato/imgemail2.png" alt="">
        <p>lucassalmanr@gmail.com</p>
      </div>
      <a href="https://github.com/enderluckg">
        <div class="divContato"><img src="img/Contato/imggithub.png" alt="">
          <p>https://github.com/enderluckg</p>
        </div>
      </a>
    </div>
    <div id="orgContato2">
      <div class="divContato"><img src="img/Contato/imgtele.png" alt="">
        <p>31996392768</p>
      </div>
    </div>
  </div>

  <div id="Certificados" class="displaynone">
    <div class="titulo">
      <h2>Certificados</h2>
      <div id="pokegrid">
        <div id="pok1" class="pokdiv">
          <img src="img/pokemon/pokemon1.png" alt="">
          <span class="pokespan">Honra ao Merito Canguru de Matemática</span>
        </div>
        <div id="pok2" class="pokdiv">
          <img src="img/pokemon/pokemon2.png" alt="">
          <span class="pokespan">Bronze na OBA </span>
        </div>
        <div id="pok3" class="pokdiv">
          <img src="img/pokemon/pokemon3.png" alt="">
          <span class="pokespan">Bronze na OBA</span>
        </div>
        <div id="pok4" class="pokdiv">
          <img src="img/pokemon/pokemon4.png" alt="">
          <span class="pokespan">Prata na OBA</span>
        </div>
        <div id="pok5" class="pokdiv">
          <img src="img/pokemon/pokemon5.png" alt="">
          <span class="pokespan">The Best Of The Class Cotemig</span>
        </div>
        <div id="pok6" class="pokdiv">
          <img src="img/pokemon/pokemon6.png" alt="">
          <span class="pokespan">The Best Of The Class Cotemig</span>
        </div>
        <div id="pok7" class="pokdiv">
          <img src="img/pokemon/pokemon7.png" alt="">
          <span class="pokespan">Ouro Na OLITEF</span>
        </div>
        <div id="pok8" class="pokdiv">
          <img src="img/pokemon/pokemon8.png" alt="">
          <span class="pokespan">Prata na OLITEF</span>
        </div>
      </div>
    </div>
    <div></div>
  </div>

  <div id="Formulario-de-Contato" class="displaynone">
    <div class="titulo">
      <h2>Formulario de Contato</h2>
    </div>

    <form id="orgform" action="">
      <div class="divform">Nome</div>
      <input type="text" name="Nome" required>
      <div class="divform">Email</div>
      <input type="email" name="Email" required>
      <div class="divform">Telefone</div>
      <input type="text" oninput="mascara_num()" name="Telefone" id="inptelefone" maxlength="15" min="0" max="100"
        required>
      <div class="divform">Notas</div>
      <input type="text" name="Notas" placeholder="Qual o assunto que você deseja tratar" required>
      <div id="divbtn"><button>Enviar</button></div>
    </form>
  </div>

  <div id="SoftSkills" class="displaynone">
    <div class="titulo">
      <h2>Soft Skills</h2>
    </div>
    <div id="orgSoft">
      <div class="divconst">
        <img src="img/softskills/Adapitabilidade.png" alt="">
        <p>Adapitabilidade</p>
      </div>
      <div class="divconst">
        <img src="img/softskills/Comunicacao.png" alt="">
        <p>Comunicação</p>
      </div>
      <div class="divconst">
        <img src="img/softskills/TrabalhoemEquipe.png" alt="">
        <p>Trabalho Em Equipe</p>
      </div>
      <div class="divconst">
        <img src="img/softskills/Responsabilidade.png" alt="">
        <p>Responsabilidade</p>
      </div>
      <div class="divconst">
        <img src="img/softskills/resolverproblemas.png" alt="">
        <p>Resolução de Problemas</p>
      </div>
      <div class="divconst">
        <img src="img/softskills/EscutaAtiva.png" alt="">
        <p>Escuta Ativa</p>
      </div>
    </div>
  </div>

  <div id="Curriculo" class="displaynone">
    <div class="titulo">
      <h2>Curriculo</h2>
    </div>
    <div id="orgCurriculo">
      <div id="imgCurriculo">
      </div>
      <a href="img/Lucas Salman Resende-Currículo   (2).pdf" download="Lucas Salman Resende-Currículo   (2).pdf">Baixar
        Curriculo</a>
    </div>
  </div>

  <div id="seguidora" class="displaynone">
    <h5 id="seguidora2" class="displaynone"></h5>
  </div>

  <div id="Formações" class="displaynone">
    <div class="titulo">
      <h2>Formações</h2>
    </div>
    <div id="flex">
      <div id="Maria">
        <h5>Formação do Ensino Fundamental no Colegio Santa Maria</h5>
        <div id="imgMaria"></div>
      </div>
      <div id="Cotemig">
        <h5>Conclusão do Ensino Medio em Andamento no Colegio Cotemig</h5>
        <div id="imgCotemig"></div>
      </div>
    </div>
  </div>

  </div>






  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.152.0/build/three.module.js",
        "three/": "https://cdn.jsdelivr.net/npm/three@0.152.0/"
      }
    }
  </script>
  <script type="module" src="{{ url_for('static', filename='js/solar.js') }}"></script>
</body>

</html>
